	{% load static %}
	<!-- =================== Newsletter ==================== -->
	 <!-- TODO: --> 
		<!-- <section class="newsletter theme-bg" style="background-image:url(assets/img/bg-new.png)">
			<div class="container">
				
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="heading light">
							<h2>Ontvang nieuwste vacatures</h2>
							<p>Wilt u op de hoogte gehouden worden van nieuwe vacatures? Meld je dan aan!</p>
						</div>
					</div>
				</div>
				
				<div class="row mrg-top-20">
					<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
						<div class="newsletter-box text-center">
							<div class="input-group">
								<span class="input-group-addon"><span class="ti-email theme-cl"></span></span>
								<input type="text" class="form-control" placeholder="Uw E-mail..">
							</div>
							<button type="button" class="btn theme-btn btn-radius btn-m">Aanmelden</button>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- =================== End Newsletter ==================== -->
		
		<!-- ================= footer start ========================= -->
		<footer class="dark-bg footer">
			<div class="container">
				<!-- Row Start -->
					<div class="col-md-12">
						<div class="copyright text-center">
							<p>&copy; Copyright 2019 StageICT | Powerd By <a href="#" title="Themez Hub">Students of HvA</a></p>
						</div>
					</div>
			</div>
		</footer>
		
		<!-- Sign Up Window Code -->
		<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="myModalLabel1">
					<div class="modal-body">
						<div class="text-center"><img src="{% static 'jobportal/assets/img/logo.png' %}" alt="" class="img-responsive"></div>
						<center><h4>Registreren als:</h4></center>
						<hr>
						<br>
						<!-- Nav tabs -->
					
							<div class="col-md-12">
							<div class="form-group">
								<a href="{% url 'student_signup' %}"><button class="btn theme-btn btn-radius btn-m" style="width:100%"><i style="font-size:24px; float:left" class="fa fa-user"></i>&nbsp;&nbsp;Student</button></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<a href="{% url 'company_signup' %}"><button class="btn btn-warning btn-radius btn-m" style="width:100%;text-transform:uppercase"><i style="font-size:24px; float:left" class="fa fa-building-o"></i>&nbsp;&nbsp;Bedrijf</button></a>
							</div>
						</div>
						<div class="clear"></div>
						<!-- Nav tabs -->
							
					
						<!-- Tab panels -->
					</div>
				</div>
			</div>
		</div>   
		<!-- End Sign Up Window -->
		 
		<!-- =================== START JAVASCRIPT ================== -->
		<!-- Jquery js-->
		<script src="{% static 'jobportal/assets/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap js-->
		<script src="{% static 'jobportal/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		
		<!-- Bootsnav js-->
		<script src="{% static 'jobportal/assets/plugins/bootstrap/js/bootsnav.js' %}"></script>
		<script src="{% static 'jobportal/assets/js/viewportchecker.js' %}"></script>
		
		<!-- Slick Slider js-->
		<script src="{% static 'jobportal/assets/plugins/slick-slider/slick.js' %}"></script>
		
		<!-- wysihtml5 editor js -->
		<script src="{% static 'jobportal/assets/plugins/bootstrap/js/wysihtml5-0.3.0.js' %}"></script>
		<script src="{% static 'jobportal/assets/plugins/bootstrap/js/bootstrap-wysihtml5.js' %}"></script>
		
		<!-- Aos Js -->
		<script src="{% static 'jobportal/assets/plugins/aos-master/aos.js' %}"></script>
		
		<!-- Nice Select -->
		<script src="{% static 'jobportal/assets/plugins/nice-select/js/jquery.nice-select.min.js' %}"></script>
		
		<!-- Custom Js -->
		<script src="{% static 'jobportal/assets/js/custom.js' %}"></script>
		
		<script>
			AOS.init();
		</script>
			  
    </body>
</html>