{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index,follow">

    <title>StageICT - Stage Portaal</title>

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{% static 'jobportal/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
	
	<!-- Bootstrap Select Option css -->
	<link rel="stylesheet" href="{% static 'jobportal/assets/plugins/bootstrap/css/bootstrap-select.min.css' %}">
	
    <!-- Icons -->
    <link href="{% static 'jobportal/assets/plugins/icons/css/icons.css' %}" rel="stylesheet">
    
    <!-- Animate -->
    <link href="{% static 'jobportal/assets/plugins/animate/animate.css' %}" rel="stylesheet">
	
	<!-- Nice Select Option css -->
	<link rel="stylesheet" href="{% static 'jobportal/assets/plugins/nice-select/css/nice-select.css' %}">
    
    <!-- Bootsnav -->
    <link href="{% static 'jobportal/assets/plugins/bootstrap/css/bootsnav.css' %}" rel="stylesheet">
	
	<!-- Aos Css -->
    <link href="{% static 'jobportal/assets/plugins/aos-master/aos.css' %}" rel="stylesheet">

	<!-- Slick Slider -->
    <link href="{% static 'jobportal/assets/plugins/slick-slider/slick.css' %}" rel="stylesheet">	
    
    <!-- Custom style -->
    <link href="{% static 'jobportal/assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'jobportal/assets/css/responsiveness.css' %}" rel="stylesheet">
	
	<!-- Custom Color -->
    <link href="{% static 'jobportal/assets/css/skin/default.css' %}" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
	</head>
	
	<body class="blue-skin">
		
		<!-- ======================= Start Navigation ===================== -->
		<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
			<div class="container">
			
				<!-- Start Logo Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="{% url 'index' %}">
						<img src="{% static 'jobportal/assets/img/logo1.png' %}" class="logo logo-display" alt="">
						<img src="{% static 'jobportal/assets/img/logo1.png' %}" class="logo logo-scrolled" alt="">
					</a>

				</div>
				<!-- End Logo Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
					
						<li class="">
							<a href="{% url 'index' %}">Home</a>
						</li>
					
						<li class="">
							<a href="{% url 'show_jobs' %}">Aanbod</a>
						</li>
						
						<li class="">
							<a href="{% url 'all_students' %}">Studenten</a>
						</li>

						<li class="">
							<a href="{% url 'all_companies' %}">Bedrijven</a>
						</li>
				
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<br>
						{% if request.user.is_authenticated and request.user.is_student %}
							<li class="dropdown" style="background:#1f86ef">
								<a style="color:#fff" href="#" class="dropdown-toggle" data-toggle="dropdown"><i style="padding-right:15px;font-size:16px" class="fa fa-user-o"></i>{{ request.user.username }}</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="{% url 'student_profile' request.user.id %}">Mijn profiel</a></li>
									<li><a href="{% url 'student_profile_settings' request.user.id %}">Wijzig profiel</a></li>
									<li><a href="#">Mijn reacties</a></li>
									<li><a href="{% url 'logout' %}">Uitloggen</a></li>
								</ul>
							</li>

						{% elif request.user.is_authenticated and request.user.is_company %}
						<li class="dropdown" style="background:#1f86ef">
							<a style="color:#fff" href="#" class="dropdown-toggle" data-toggle="dropdown"><i style="padding-right:15px;font-size:16px" class="fa fa-building-o"></i>{{ request.user.username }}</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="{% url 'company_profile' request.user.id %}">Mijn pofiel</a></li>
									<li><a href="{% url 'company_profile_settings' request.user.id %}">Wijzig pofiel</a></li>
									<li><a href="#">Beheer vacatures</a></li>
									<li><a href="{% url 'create_job' %}">Nieuwe vacature</a></li>
									<li><a href="{% url 'logout' %}">Uitloggen</a></li>
								</ul>
							</li>

						{% elif request.user.is_authenticated and request.user.is_staff %}
						<li class="dropdown" style="background:#1f86ef">
							<a style="color:#fff" href="{% url 'admin:index' %}" class="dropdown-toggle" data-toggle="dropdown"><i style="padding-right:15px;font-size:16px" class="fa fa-arrow-right-o"></i>{{ request.user.username }}</a>
								<ul class="dropdown-menu animated fadeOutUp">
									<li><a href="{% url 'admin:index' %}">Ga naar adminpanel</a></li>
									<li><a href="{% url 'logout' %}">Uitloggen</a></li>
								</ul>
							</li>	

						{% else %}
						<li class="br-right"><a href="{% url 'login' %}"><i class="login-icon ti-user"></i>Inloggen</a></li>
						<li class="sign-up"><a class="btn-signup red-btn" href="javascript:void(0)"  data-toggle="modal" data-target="#signin"><i class="login-icon ti-user"></i>Registreren</a></li>


					</ul>
					{% endif %}	
				</div>
				<!-- /.navbar-collapse -->
			</div>   
		</nav>
		<!-- ======================= End Navigation ===================== -->