{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Inloggen</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Inloggen</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- ====================== Start Signup Form ============= -->
		<section>
			<div class="container">
				<div class="container">
					<div class="log-box">
						<form class="log-form" method="POST" role="form">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12">
                  {% if form.errors %}
                  <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Oeps!</strong> Controleer uw gebruikersnaam of wachtwoord.
                  </div>
                  {% endif %}
                  {{ form.username|as_crispy_field }}
                  {{ form.password|as_crispy_field }}
							
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<button type="submit" class="btn theme-btn btn-sm"><i class="fa fa-check"></i>&nbsp;&nbsp;Inloggen</button>
									</div>
								</div>
							</div>
						</form>						
					</div>
				</div>
				
			</div>
		</section>
		<!-- ====================== End Signup Form ============= -->
	
{% endblock content %}