{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Vacature aanmaken</h2>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->

		<!-- ======================= Create Job ===================== -->
		<section class="create-job">
			<div class="container">
				<form class="log-form" method="POST" role="form">
						{% csrf_token %}
				<form class="c-form">

					<!-- General Information -->
					<div class="box">
						<div class="box-header">
							<h4>Algemene informatie</h4>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-sm-4">
									{{ add_job_form.title|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ add_job_form.compensation|as_crispy_field }}
								</div>

								<div class="col-sm-4 m-clear">
									{{ add_jobfunction_form.name|as_crispy_field }}
								</div>


								<div class="col-sm-4 m-clear">
									{{ add_job_form.is_active|as_crispy_field }}
								</div>

							</div>
						</div>
					</div>

					<!-- Company Address -->
					<div class="box">
						<div class="box-header">
							<h4>Vacature contactgegevens</h4>
						</div>
						<div class="box-body">
							<div class="row">



								<div class="col-sm-4">
									{{ add_job_form.phone_number|as_crispy_field }}
								</div>


								<div class="col-sm-4">
									{{ add_job_form.address|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ add_job_form.zip_code|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ add_job_form.city|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ add_job_form.contact_person|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ add_job_form.contact_person_email|as_crispy_field }}
								</div>

								<div class="col-sm-4 m-clear">
									{{ add_job_form.contact_person_image|as_crispy_field }}
								</div>

						</div>
					</div>


					<!-- Qualification & Instruction -->
					<div class="box">
						<div class="box-header">
							<h4>Functieomschrijving</h4>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-sm-12">
									{{ add_job_form.description|as_crispy_field }}
								</div>

							</div>
						</div>
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-m theme-btn">Submit & Exit</button>
					</div>

					</div>
				</form>
				</form>
			</div>
			</div>
		</section>

		<!-- ====================== End Create Job ================ -->
{% endblock content %}
