{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Registreren als bedrijf</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> SignUp</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- ====================== Start Signup Form ============= -->
		<section>
			<div class="container">
				<div class="container">
					{% if user.is_authenticated %}
					<div class="alert alert-danger">
						<strong>Oeps</strong> U heeft al een account. <strong><a href="{% url 'company_profile' user.id %}">Ga naar mijn account.</a></strong>
					</div>
					{% else %}
					<div class="log-box">
						<form class="log-form" method="POST" role="form">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									{{ user_form.username|as_crispy_field }}		
								</div>

								<div class="col-md-6">
									{{ user_form.password|as_crispy_field }}		
								</div>		

								<div class="col-md-6">
									{{ user_form.first_name|as_crispy_field }}		
								</div>		
								
								<div class="col-md-6">
									{{ user_form.last_name|as_crispy_field }}		
								</div>

								<div class="col-md-12">
									{{ user_form.email|as_crispy_field }}		
								</div>

								<div class="col-md-6">
									{{ profile_form.company_name|as_crispy_field }}		
								</div>

								<div class="col-md-6">
									{{ profile_form.website|as_crispy_field }}		
								</div>

								<div class="col-md-4">
									{{ profile_form.address|as_crispy_field }}		
								</div>

								<div class="col-md-4">
									{{ profile_form.zip_code|as_crispy_field }}		
								</div>

								<div class="col-md-4">
									{{ profile_form.city|as_crispy_field }}		
								</div>

								<div class="col-md-6">
									{{ profile_form.phone_number|as_crispy_field }}		
								</div>

								<div class="col-md-6">
									{{ profile_form.company_image|as_crispy_field }}		
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<button type="submit" class="btn theme-btn btn-sm"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Opslaan</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					{% endif %}
				</div>
			</div>
		</section>
		<!-- ====================== End Signup Form ============= -->
		
 
		<!-- End Sign Up Window -->
{% endblock content %}