{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}

<!-- ======================= Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Bedrijfsprofiel</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Bedrijfsprofiel</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->

		<!-- ================ Employer Profile ======================= -->
		<section style="background:#f6f7f9">
			<div class="container">


				<div class="col-md-3 col-sm-3">
					<div class="emp-pic">
						{% if not company_image %}
						<img class="img-responsive img-circle width-220" src="https://www.market-research-companies.in//images/default.jpg" alt="">
						{% else %}
						<img class="img-responsive img-circle width-220" src="https://www.market-research-companies.in//images/default.jpg" alt="">
						{% endif %}
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="emp-des">
						<h3>{{company.company_name}}</h3>
						<span class="theme-cl">Contactpersoon : {{user.first_name}} {{user.last_name}}</span>
						<p>{{company.address}}, {{company.zip_code}}, <br>{{company.city}} </p>
					</div>
					<!-- <div class="emp-bt">
						<a href="#" class="btn theme-btn"><i class="ti-email"></i> Message</a>
					</div> -->
				</div>

				<div class="col-md-5 col-sm-5">
					<div class="emp-detail">
						<ul>
							<li><span class="cl-primary">{{ job_count }}</span>Vacatures</li>
							<li><span class="cl-success">{{ job_active_count }}</span>Actief</li>
							<li><span class="cl-danger">{{ job_inactive_count }}</span>Inactief</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ End Employer Profile ======================= -->

		<!-- ================ Employers Jobs ======================= -->
		<section class="padd-top-20">
			<div class="container">

				<div class="row">

					<!-- Single Job -->
					{% for j in job %}
					<div class="col-md-3 col-sm-6" style="height:330px; margin-bottom:10px">
							{% if j.is_active %}
							<div class="grid-job-widget" style="height:100%">
							<span class="job-type full-type">Actief</span>
							{% else %}
							<div class="grid-job-widget" style="opacity:0.5">
							<span class="job-type part-type">Inactief</span>
							{% endif %}

							<div class="u-content">
								<div class="avatar box-80">
									<a href="employer-detail.html">
										<img class="img-responsive" src="http://via.placeholder.com/120x120" alt="">
									</a>
								</div>
								<h5><a href="employer-detail.html">{{ j.title }}</a></h5>
								<p class="text-muted">{{ j.city }}</p>
							</div>

							<div class="job-type-grid">
								<a href="{% url 'job-detail' j.id %}" class="btn btn-info btn-radius br-light">Bekijk Vacature</a>
							</div>

						</div>
					</div>
					{% endfor %}

				</div>

				<!-- TODO LATER -->
				<!-- <div class="row">
					<div class="col-md-12 mrg-top-30">
						<div class="text-center">
							<button type="submit" class="btn btn-m theme-btn">View More Jobs</button>
						</div>
					</div>
				</div> -->

			</div>
			</div>
		</section>
		<!-- ================ End Employers Jobs ======================= -->

{% endblock content %}
