{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}

<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Wijzig bedrijfsprofiel</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Create Company</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->

		<!-- ======================= Start Create Company ===================== -->
		{% if request.user.is_company and request.user.is_authenticated %} <!-- Show only if logged in User is a company and is authenticated -->
		<section class="wijzig bedrijfsprofiel">
			<div class="container">
				<form class="log-form" method="POST" role="form">
						{% csrf_token %}
				<form class="c-form">
					<!-- General Information -->
					<div class="box">
						<div class="box-header">
							<h4>Algemene informatie</h4>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-sm-4">
									{{ profile_form.company_name|as_crispy_field }}
								</div>


								<div class="col-sm-4 m-clear">
									{{ form.first_name|as_crispy_field }}
								</div>

							</div>
						</div>
					</div>

					<!-- Company Address -->
					<div class="box">
						<div class="box-header">
							<h4>Bedrijfsgegevens</h4>
						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-sm-4">
									{{ form.email|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ profile_form.address|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ profile_form.zip_code|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ profile_form.city|as_crispy_field }}
								</div>

								<div class="col-sm-4">
									{{ profile_form.website|as_crispy_field }}
									<div class="text-center">
					</div>
								</div>

								<div class="col-sm-4">
									{{ profile_form.phone_number|as_crispy_field }}
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-m theme-btn">Submit & Exit</button>
					</div>
				</form>
				</form>
				</div>
			</div>
			</div>
		</section>
		{% else %}
		<h1>OEPS U mag deze pagina niet bekijken.</h1>
		{% endif %}
		<!-- ====================== End Create Company ================ -->

{% endblock content %}
