{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}

<!-- ======================= Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>CV aanmaken</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> CV aanmaken</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->

		<!-- ======================== Create Resume ====================== -->
		<section>
			<div class="container">
				<form class="log-form" method="POST" role="form">
						{% csrf_token %}
				<form class="c-form">

					<!-- Add Qualification -->
					<div class="box">
						<div class="box-header">
							<h4>Opleiding toevoegen</h4>
						</div>
						<div class="box-body">

							<div class="extra-field-box">
								<div class="multi-box">
									<div class="dublicat-box mrg-bot-40">
										<div class="row">

											<div class="col-sm-6">
												{{ add_education_form.institution_name|as_crispy_field }}
											</div>

											<div class="col-sm-6">
												{{ add_education_form.start_year|as_crispy_field }}
											</div>

											<div class="col-sm-3">
												{{ add_education_form.institution_type|as_crispy_field }}
											</div>

											<div class="col-sm-3">
												{{ add_education_form.degree|as_crispy_field }}
											</div>

											<div class="col-sm-6">
												{{ add_education_form.end_year|as_crispy_field }}
											</div>

											<div class="col-sm-6">
												{{ add_education_form.graduated|as_crispy_field }}
											</div>

										</div>
										<button type="button" class="btn remove-field light-gray-btn">Remove</button>
									</div>
								</div>
								<div class="text-center"><button type="button" class="btn add-field theme-btn">Add More</button></div>
							</div>
						</div>
					</div>

					<!-- Add Skills -->
					<div class="box">
						<div class="box-header">
							<h4>Vaardigheden toevoegen</h4>
						</div>
						<div class="box-body">
							<div class="extra-field-box">
								<div class="multi-box">
									<div class="dublicat-box mrg-bot-40">
										<div class="row">

											<div class="col-sm-24">
												<div class="col-sm-24">

											</div>
											</div>

										</div>
										<button type="button" class="btn remove-field light-gray-btn">Remove</button>
									</div>
								</div>
								<div class="text-center"><button type="button" class="btn add-field theme-btn">Add More</button></div>
							</div>
						</div>
					</div>

					<!-- Add Skills -->
					<div class="box">
						<div class="box-header">
							<h4>Ervaring toevoegen</h4>
						</div>
						<div class="box-body">

							<div class="extra-field-box">
								<div class="multi-box">
									<div class="dublicat-box mrg-bot-40">
										<div class="row">


											</div>


										</div>
										<button type="button" class="btn remove-field light-gray-btn">Remove</button>
									</div>
								</div>
								<div class="text-center"><button type="button" class="btn add-field theme-btn">Add More</button></div>
							</div>
						</div>
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-m theme-btn">Submit & Exit</button>
					</div>

				</form>
				</form>
			</div>
			</div>
		</section>

		<!-- ====================== End create Resume ================ -->
{% endblock content %}
