{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}

		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="col-sm-7">
					<div class="page-caption">
						<h2>Student profiel</h2>
						<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Student profiel</p>
					</div>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		
		<!-- ====================== Resume Detail ================ -->
		<section>
			<div class="container">
				<!-- row -->
				<div class="row">
					
					<div class="col-md-8 col-sm-8">
						{% if not interest %}
						<div class="alert alert-info">
							<strong>Hallo daar!</strong> Uw profiel is niet compleet. <strong><a href="{% url 'student_profile_settings' user.id %}">Voltooi nu jou profiel!</a></strong>
						
						</div>
						{% endif %}
						<div class="detail-wrapper">
							<div class="detail-wrapper-body">
							
								<div class="text-center mrg-bot-30">

								{% if not student_image %}
								<img src="http://kulturoznawstwo.amu.edu.pl/wp-content/uploads/2019/11/avatar.jpeg" class="img-circle img-responsive" alt="">
								{% else %}
								<img src="/{{ student.student_image.url}}" class="img-circle img-responsive" alt="">
								{% endif %}

									<h4 class="meg-0">{{user.first_name}} {{user.last_name}}</h4>
									<i>Zoekt in stage naar:
										{% for l in interest %}
										<span>{{ l.name }}, </span></i>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Over</h4>
							</div>
							<div class="detail-wrapper-body">
								{% if not student.about %}
								Ik heb niks te vertellen...
								{% else %}
								{{ student.about }}
								{% endif %}

							</div>
						</div>
<!--								START CV-->
						{% if not cv %}
						<div class="alert alert-danger">
							<strong>Oeps</strong> Student heeft nog geen Curriculum Vitae.<strong><a href="{% url 'create_cv' %}">Maak nu een CV aan </a></strong>
						
						</div>
						{% else %}
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Educatie</h4>
							</div>
							{% if education %}
								<div class="detail-wrapper-body">
							{% for e in education %}
								<div class="edu-history info">
									<i></i>
									<div class="detail-info">
										<h3>{{e.institution_name}} | {{e.institution_type}}</h3>
										<i>{{e.start_year}} - {{e.end_year}}</i>
										<span>{{e.degree}} <i>{{e.field_of_study}}</i></span>
									</div>
								</div>
								{% endfor %}
							</div>
							{% else %}
								<p>Geen educations.</p>
							{% endif %}
						</div>

<!--									end CV-->

						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Werkervaring</h4>
							</div>
							<div class="detail-wrapper-body">
							{% for e in experience %}
								<div class="edu-history info">
									<i></i>
									<div class="detail-info">
										<h3>{{e.expertise_title}} <span>{{e.company_name}}</span></h3>
										<i>{{e.start_date}} - {{e.end_date}} | Locatie: {{e.location}}</i>
										<p>{{e.description}}</p>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>

					<!-- Sidebar -->
					<div class="col-md-4 col-sm-4">
						<div class="sidebar">

							<!-- Start: Opening hour -->
							<div class="widget-boxed">
								<div class="widget-boxed-body">
									<button type="submit" class="btn btn-success btn-m full-width mrg-bot-10">Download Curriculum Vitae</button>
									<a href="#" class="btn btn-m light-gray-btn full-width"><i class="ti-check"></i>Opslaan in favorieten</a>
								</div>
							</div>
							<!-- End: Opening hour -->

							<!-- Start: Job Overview -->
							<div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="fa fa-fw fa-circle-o padd-r-10"></i>Contact Info</h4>
								</div>
								<div class="widget-boxed-body">
									<div class="side-list no-border">
										<ul>
											<li><i class="ti-location-pin padd-r-10"></i>Amsterdam</li>
											<li><i class="ti-mobile padd-r-10"></i>{{ student.phone_number }}</li>
											<li><i class="ti-email padd-r-10"></i>{{user.email}}</li>
											<li><i class="ti-pencil-alt padd-r-10"></i>
												{% for s in skillset %}
												<i class="skill-tag" >{{s.name }}</i>
												{% endfor %}
												</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- End: Job Overview -->

							<!-- Start: Opening hour -->

							<div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="ti-headphone padd-r-10"></i>Neem contact op</h4>
								</div>
								<div class="widget-boxed-body">
									<form>
										<input type="text" class="form-control" placeholder="Vul uw voornaam in *">
										<input type="text" class="form-control" placeholder="Vul uw achternaam in *">
										<input type="text" class="form-control" placeholder="Email adres*">
										<input type="text" class="form-control" placeholder="Telefoonnummer">
										<textarea class="form-control height-140" placeholder="Vul hier uw motivatie in"></textarea>
										<form method="post">
   										 	{% csrf_token %}
<!--											Methode voor het verzenden van de email-->
    										{{ form.as_p }}
											<div class="form-actions">
												<button class="btn theme-btn full-width">Verzend Email</button>
											</div>
										</form>
									</form>
							</div>
						</div>
							<!-- End: Opening hour -->

						</div>

					</div>
					<!-- End Sidebar -->

				</div>
				<!-- End Row -->
				</div>
				<!-- End Row -->

			</div>
		</section>

		<!-- ====================== End Resume Detail ================ -->


					</div>

				</div>


			</div>
		</footer>
		<!-- End Sign Up Window -->
{% endblock content %}
