{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}

		<!-- ======================= Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Profiel Instellingen</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Profile Settings</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->



		<!-- ================ Profile Settings ======================= -->
		<section>
			<div class="container">

					<form class="log-form" style="border-top: 4px solid #1f86ef;
					border-bottom: 4px solid #1f86ef;
					background: #fff;
					padding: 40px;" method="POST" role="form">
						{% csrf_token %}
						<!-- <h1>test</h1>
						{{ user_form }}
						{{ profile_form }} -->
				<div class="row">
					<!-- col-md-6 -->
					<div class="col-md-6 col-12">

						<div class="form-group">
							<div class="contact-img">
								{% if not student_image %}
								<img src="http://kulturoznawstwo.amu.edu.pl/wp-content/uploads/2019/11/avatar.jpeg" class="img-circle img-responsive" alt="">
								{% else %}
								<img src="/{{ student.student_image.url}}" class="img-circle img-responsive" alt="">
								{% endif %}
							</div>
						</div>

						<div class="col-md-12">

							<div class="row">
								<div class="col-md-6 col-12">
							
									<div class="form-group">
										{{ form.first_name|as_crispy_field }}
									</div>
								</div>

								<div class="col-md-6 col-12">
									<div class="form-group">
											{{ form.last_name|as_crispy_field }}
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
									<div class="col-md-13 col-12">
									<label>Password</label>
									<input type="password"  value="{{ user.password }}" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
									{{ form.email|as_crispy_field }}
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								{{ profile_form.phone_number|as_crispy_field }}
							</div>
						</div>
					</div>

					<!-- col-md-6 -->
					<div class="col-md-6 col-12 padd-top-20" style="position: relative; top: 100px;">
						<!-- col-md-12 -->
						<div class="col-md-12">

							<div class="row">
								<div class="col-md-4 col-12">

									<div class="form-group">
										{{ profile_form.gender|as_crispy_field }}
									</div>
								</div>

								<div class="col-md-4 col-12">
									<div class="form-group">
											{{ profile_form.language|as_crispy_field }}
									</div>
								</div>
								<div class="col-md-4 col-12">
									<div class="form-group">
											{{ profile_form.date_of_birth|as_crispy_field }}
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-12 -->
						<div class="col-md-12">

							<div class="row">
								<div class="col-md-6 col-12">
									<div class="form-group">
										{{profile_form.age|as_crispy_field}}
									</div>
								</div>
								<div class="row">
								<div class="col-md-6 col-12">
									<div class="form-group">
										{{profile_form.slogan|as_crispy_field}}
									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- col-md-12 -->
						<div class="col-md-12">

					</div>

					<div class="col-md-12 col-12 padd-top-20 text-center">
						<button class="btn them-btn btn-m" type="submit">Update & Exit</button>
					</div>

				</div>

			</div>
					</form>
			</div>

		</section>
		<!-- ================ End Profile Settings ======================= -->
{% endblock content %}
