{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		
		<!-- ======================= Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Vacatures</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Aanbod</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- ====================== Start Job Detail 2 ================ -->
		<section>
			<div class="container">
				
				<!-- row -->
				<div class="row">
					<!-- Start Sidebar -->
					<div class="col-md-3 col-sm-4">
					
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-body">
								<div class="search_widget_job">
									<div class="field_w_search">
										<input type="text" class="form-control" placeholder="Search Keywords">
									</div>
									<div class="field_w_search">
										<input type="text" class="form-control" placeholder="All Locations">
									</div>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header">
								<h4>Offerd Salary</h4>
							</div>
							<div class="widget-boxed-body">
								<div class="side-list no-border">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="1">
												<label for="1"></label>
											</span>
											Under $10,000
											<span class="pull-right">102</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="2">
												<label for="2"></label>
											</span>
											$10,000 - $15,000
											<span class="pull-right">78</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="3">
												<label for="3"></label>
											</span>
											$15,000 - $20,000
											<span class="pull-right">12</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="4">
												<label for="4"></label>
											</span>
											$20,000 - $30,000
											<span class="pull-right">85</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="5">
												<label for="5"></label>
											</span>
											$30,000 - $40,000
											<span class="pull-right">307</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header">
								<h4>Job Type</h4>
							</div>
							<div class="widget-boxed-body">
								<div class="side-list no-border">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="a1">
												<label for="a1"></label>
											</span>
											Full Time
											<span class="pull-right">102</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="b1">
												<label for="b1"></label>
											</span>
											Part Time
											<span class="pull-right">78</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="c1">
												<label for="c1"></label>
											</span>
											Internship
											<span class="pull-right">12</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="d1">
												<label for="d1"></label>
											</span>
											Freelancer
											<span class="pull-right">85</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="e1">
												<label for="e1"></label>
											</span>
											Contract Base
											<span class="pull-right">307</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h4>Designation <a href="#designation" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h4>
							</div>
							<div class="widget-boxed-body collapse" id="designation">
								<div class="side-list no-border">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="a">
												<label for="a"></label>
											</span>
											Web Designer
											<span class="pull-right">102</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="b">
												<label for="b"></label>
											</span>
											Php Developer
											<span class="pull-right">78</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="c">
												<label for="c"></label>
											</span>
											Project Manager
											<span class="pull-right">12</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="d">
												<label for="d"></label>
											</span>
											Human Resource
											<span class="pull-right">85</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="e">
												<label for="e"></label>
											</span>
											CMS Developer
											<span class="pull-right">307</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="f">
												<label for="f"></label>
											</span>
											App Developer
											<span class="pull-right">256</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h4>Experince <a href="#experince" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h4>
							</div>
							<div class="widget-boxed-body collapse" id="experince">
								<div class="side-list no-border">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="11">
												<label for="11"></label>
											</span>
											1Year To 2Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="21">
												<label for="21"></label>
											</span>
											2Year To 3Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="31">
												<label for="31"></label>
											</span>
											3Year To 4Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="41">
												<label for="41"></label>
											</span>
											4Year To 5Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="51">
												<label for="51"></label>
											</span>
											5Year To 7Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="61">
												<label for="61"></label>
											</span>
											7Year To 10Year
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h4>Qualification <a href="#qualification" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h4>
							</div>
							<div class="widget-boxed-body collapse" id="qualification">
								<div class="side-list no-border">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="12">
												<label for="12"></label>
											</span>
											High School
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="22">
												<label for="22"></label>
											</span>
											Intermediate
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="32">
												<label for="32"></label>
											</span>
											Graduation
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="42">
												<label for="42"></label>
											</span>
											Master Degree
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
					
					<!-- Start Job List -->
					<div class="col-md-9 col-sm-8">
						
						<div class="row mrg-bot-20">
							<div class="col-sm-5">
								<h4>{{ jobs_count }} Vacatures</h4>
							</div>
							
							<div class="col-sm-7">
								
								<div class="fl-right">
									<div class="search-wide">
										<h5>Short By</h5>
									</div>
									
									<div class="search-wide full">
										<select class="wide form-control">
											<option value="1">Most Recent</option>
											<option value="2">Most Viewed</option>
											<option value="4">Most Search</option>
										</select>
									</div>
									
									<div class="search-wide full">
										<select class="wide form-control">
											<option>10 Per Page</option>
											<option value="1">20 Per Page</option>
											<option value="2">30 Per Page</option>
											<option value="4">50 Per Page</option>
										</select>
									</div>
								</div>

							</div>
						</div>

						<!-- Single Verticle job -->
						<!-- Using a loop through jobs and after that using the prefetched model jobfunctions and interntypes
							 in a nested loop to get the JobType and InternType of the specific Job in the loop-->
                        {% for j in jobs %}
						<div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">
									<div class="vrt-job-cmp-logo">
										<a href="job-detail.html"><img src="https://betabanen.nl/_nuxt/img/16e273d.png" class="img-circle width-50 height-50" /></a>
									</div>
									<h4><a href="job-detail.html">{{ j.user }}</a></h4>
									<span class="com-tagline">{{ j.title }}</span>
									<span class="pull-right vacancy-no">{{ j.location.address}}, {{ j.location.city }} </span>
								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">
											<ul class="can-skils">
												<li><strong>Vacature: </strong>{{ j.title }}</li>
												{% if j.jobfunctions.all %}
												<li><strong>Functie:</strong>
													{% for jf in j.jobfunctions.all %}
													{{ jf.name }}
													{% endfor %}
												</li>
												{% endif %}

												{% if j.interntypes.all %}
												<li><strong>Type stage:</strong>
													{% for jt in j.interntypes.all %}
													<span class="skill-tag">{{ jt.name }}</span>
													{% endfor %}
												</li>
												{% endif %}

												{% if j.compensation %}
												<li><strong>Stagevergoeding: </strong>{{ j.compensation }}</li>
												{% endif %}
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												{% if request.user.is_authenticated and request.user.is_student %}
												<a class="btn-job theme-btn job-apply" href="javascript:void(0)" data-toggle="modal" data-target="#apply"><i class="login-icon ti-user"></i>Solliciteer</a></li>
												{% endif %}
												<a href="{% url 'job-detail' j.id %}" title="" class="btn-job light-gray-btn">Meer details</a>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
													<li>
														<span class="">geplaatst op <strong>{{ j.created_at|date:'d F Y'}}</strong></span>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>
													<li style="font-size:14px; font-weight:500;text-transform:uppercase">
														<i style="font-size:18px;color:#f0ad4e;margin-right:5px" class="fa fa-map-marker"></i>{{ j.city }}
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}
						<br>
					</div>
					
				</div>
				<!-- End Row -->			
			</div>
		</section>
		
		<!-- ====================== End Job Detail 2 ================ -->		
				<div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content" id="myModalLabel2">
							<div class="modal-body">
								<div class="text-center"><img src="{% static 'jobportal/assets/img/logo1.png' %}" alt="" class="img-responsive"></div>
								<center><h4>Sollicitatieformulier</h4></center>
								<hr>
								<br>
								<!-- Nav tabs -->
							
									<div class="col-md-12">
									<form class="log-form" method="POST" role="form" action="{% url 'show_jobs' %}">
										{% csrf_token %}
									<div class="form-group">
										{{ form.motivation|as_crispy_field }}
										{{ form.upload_cv|as_crispy_field }}
									</div>
									<button type="submit" class="btn theme-btn btn-radius btn-sm" style="width:100%">Verzenden</button></a>
									</form>
								</div>
								<div class="clear"></div>
								<!-- Nav tabs -->
									
							
								<!-- Tab panels -->
							</div>
						</div>
					</div>
				</div>   

<style>
.wysihtml5-toolbar {
    display: none;
}
</style>
{% endblock content %}