{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		
		<!-- ================ Job Detail Basic Information ======================= -->
                       
		<section class="detail-section" style="background:url(https://codeminifier.com/updated-jobvivo-template/jobvivo/assets/img/slider-2.jpg)">
			<div class="overlay"></div>
			<div class="profile-cover-content">
				<div class="container">
					<div class="cover-buttons">
						<ul>
						<li><div class="buttons medium button-plain "><i class="fa fa-phone"></i>{{ job.phone_number }}</div></li>
						<li><div class="buttons medium button-plain "><i class="fa fa-map-marker"></i>{{ job.city }}</div></li>
						{% if request.user.is_authenticated and request.user.is_student %}
						<li><a href="javascript:void(0)" data-toggle="modal" data-target="#apply" class="buttons theme-btn"><i class="fa fa-paper-plane"></i><span class="hidden-xs">Solliciteer</span></a></li>
						{% endif %}
					</ul>
					</div>
					<div class="job-owner hidden-xs hidden-sm">
						<div class="job-owner-avater">
							<img src="https://codeminifier.com/updated-jobvivo-template/jobvivo/assets/img/c-2.png" class="img-circle width-80 height-80"/>
						</div>
						<div class="job-owner-detail">
							<h4>{{ job.user.company_name }}</h4>
							<span class="theme-cl">{{ job.user.website }}</span>
						</div>
					</div>
				</div>
			</div>
		</section>
           
		<!-- ================ End Job Detail Basic Information ======================= -->

		<!-- ================ Start Job Overview ======================= -->
		<section>
			<div class="container">
				
				<!-- row -->
				<div class="row">
					
					<div class="col-md-8 col-sm-8">
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-body">
								<div class="job-title-bar">
									<h3>{{ job.title }} <span class="mrg-l-5 job-tag bg-success-light">{{ intern_type.name }}</span></h3>
									<div>
										<p class="mrg-bot-0">
											<i class="ti-location-pin mrg-r-5"></i>
											{{ job.address }}, {{ job.city }}
										</p>
										
										<strong>Functie</strong> : {{ job_function.name }}
										<strong>Stagevergoeding</strong> : &euro;{{ job.compensation }}
									</div>
								</div>
							</div>
						</div>
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Omschrijving</h4>
							</div>
							<div class="detail-wrapper-body">
								<p>{{ job.description }}</p>
							</div>
						</div>
						
						<!-- <div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Responsibilities</h4>
							</div>
							<div class="detail-wrapper-body">
								<ul class="detail-list">
									<li>Execute all visual design stages from concept to final hand-off to engineering</li>
									<li>Conceptualize original website design ideas that bring simplicity and user friendliness to complex roadblocks</li>
									<li>Create wireframes, storyboards, user flows, process flows and site maps to communicate interaction and design ideas</li>
									<li>Present and defend designs and key deliverables to peers and executive level stakeholders</li>
									<li>Establish and promote design guidelines, best practices and standards</li>
								</ul>
							</div>
						</div>
						
						<div class="detail-wrapper">
							<div class="detail-wrapper-header">
								<h4>Requirements</h4>
							</div>
							<div class="detail-wrapper-body">
								<ul class="detail-list">
									<li>Proven work experienceas a web designer</li>
									<li>Demonstrable graphic design skills with a strong portfolio</li>
									<li>Proficiency in HTML, CSS and JavaScript for rapid prototyping</li>
									<li>Experience working in an Agile/Scrum development process</li>
									<li>Excellent visual design skills with sensitivity to user-system interaction</li>
									<li>Ability to solve problems creatively and effectively</li>
									<li>Up-to-date with the latest Web trends, techniques and technologies</li>
									<li>BS/MS in Human-Computer Interaction, Interaction Design or a Visual Arts subject</li>
								</ul>
							</div>
						</div> -->
						
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="sidebar">
						
							<!-- Start: Opening hour -->
							<div class="widget-boxed">
								<div class="widget-boxed-body">
									{% if request.user.is_authenticated and request.user.is_student %}
									<h3>Snel solliciteren</h3>
										<form class="log-form" method="POST" role="form">
											{% csrf_token %}
										<div class="form-group">
											{{ form.motivation|as_crispy_field }}
											{{ form.upload_cv|as_crispy_field }}
										</div>
										<button type="submit" class="btn btn-m theme-btn full-width mrg-bot-10" style="width:100%">Verzenden</button></a>
										</form>
									<a href="#" disabled="disabled" class="btn btn-m light-gray-btn full-width"><i class="fa fa-linkedin"></i>Solliciteer met Linkedin</a>
									{% elif request.user.is_authenticated and request.user.is_company %}
									<div class="alert alert-info">
										<strong>Oeps!</strong> Als bedrijf is solliciteren niet mogelijk.
									</div>
									<form class="log-form" method="POST" role="form">
										{% csrf_token %}
									<div class="form-group">
										{{ form.motivation|as_crispy_field }}
									</div>
									<button disabled="disabled" type="submit" class="btn btn-m theme-btn full-width mrg-bot-10" style="width:100%">Verzenden</button></a>
									</form>
									{% else %}
									<a href="#" disabled="disabled" class="btn btn-m light-gray-btn full-width"><i class="fa fa-linkedin"></i>Solliciteer met Linkedin</a>
									{% endif %}
								</div>
							</div>
							<!-- End: Opening hour -->
							
							<!-- Start: Job Overview -->
							<div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="ti-location-pin padd-r-10"></i>Locatie</h4>
								</div>
								<div class="widget-boxed-body">
									<div class="side-list no-border">
										<ul>
											<li><strong>Straat:</strong> {{ job.address }}</li>
											<li><strong>Postcode:</strong> {{ job.zip_code }}</li>
											<li><strong>Plaats:</strong> {{ job.city }}</li>
											<li><strong>Contactpersoon:</strong> {{ job.contact_person }}</li>
											<li><strong>E-mail:</strong> {{ job.contact_person_email }}</li>
											<li><strong>Telefoonnummer:</strong> {{ job.phone_number }}</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- End: Job Overview -->
							
							<!-- Start: Opening hour -->
							<!-- <div class="widget-boxed">
								<div class="widget-boxed-header">
									<h4><i class="ti-time padd-r-10"></i>Opening Hours</h4>
								</div>
								<div class="widget-boxed-body">
									<div class="side-list">
										<ul>
											<li>Monday <span>9 AM - 5 PM</span></li>
											<li>Tuesday <span>9 AM - 5 PM</span></li>
											<li>Wednesday <span>9 AM - 5 PM</span></li>
											<li>Thursday <span>9 AM - 5 PM</span></li>
											<li>Friday <span>9 AM - 5 PM</span></li>
											<li>Saturday <span>9 AM - 3 PM</span></li>
											<li>Sunday <span>Closed</span></li>
										</ul>
									</div>
								</div>
							</div> -->
							<!-- End: Opening hour -->
							 
						</div>
					</div>
					
				</div>
				<!-- End Row -->
				
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h4 class="mrg-bot-20">Meer van {{ job.user.company_name }}</h4>
					</div>
				</div>
				<!-- End Row -->
				
				<!-- row -->
				<div class="row">
					<!-- Single Job -->
					{% for rj in related_jobs %}
					<div class="col-md-3 col-sm-6" style="height:330px">
						<div class="grid-job-widget" style="height:100%">
						
							{% for rj_function in rj.interntypes.all %}
							<span class="job-type full-type">{{ rj_function.name }}</span>
							{% endfor %}
							<div class="u-content">
								<div class="avatar box-80">
									<a href="{% url 'job-detail' rj.id %}">
										<img class="img-responsive" src="http://via.placeholder.com/120x120" alt="">
									</a>
								</div>
								<h5><a href="{% url 'company_profile' job.user.user.id %}">{{ rj.title }}</a></h5>
								<p class="text-muted">{{ rj.city }}</p>
							</div>
							
							<div class="job-type-grid">
								<a href="{% url 'job-detail' rj.id %}" class="btn job-browse-btn btn-radius br-light">Bekijk</a>
							</div>
							
						</div>
					</div>
					{% endfor %}
				</div>
				<!-- End Row -->
				
			</div>
		</section>
		
		<!-- ====================== End Job Overview ================ -->
		<div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="myModalLabel2">
					<div class="modal-body">
						<div class="text-center"><img src="{% static 'jobportal/assets/img/logo1.png' %}" alt="" class="img-responsive"></div>
						<center><h4>Sollicitatieformulier</h4></center>
						<hr>
						<br>
						<!-- Nav tabs -->
					
							<div class="col-md-12">
							<form class="log-form" method="POST" role="form">
								{% csrf_token %}
							<div class="form-group">
								{{ form.motivation|as_crispy_field }}
								{{ form.upload_cv|as_crispy_field }}
							</div>
							<button type="submit" class="btn theme-btn btn-radius btn-sm" style="width:100%">Verzenden</button></a>
							</form>
						</div>
						<div class="clear"></div>
						<!-- Nav tabs -->
							
					
						<!-- Tab panels -->
					</div>
				</div>
			</div>
		</div>   

<style>
.wysihtml5-toolbar {
display: none;
}
</style>
	{% endblock content %}