{% extends "jobportal/base.html" %} {#Importeren templates#}
{% load static %}
		{% block content %}
		
		<!-- ======================= Start Banner ===================== -->
		<div class="main-banner" style="background-image:url('/static/jobportal/assets/img/banner_image_index.jpg');" data-overlay="7">
			<div class="container">
				<div class="col-md-12 col-sm-12">
				
					<div class="caption text-center cl-white">
						<h2>Vindt jou ideale stageplaats. Je verdient het.</h2>
						<span>Bij ons krijg je wat je zoekt. Zoek in ons systeem naar allerlei functies in het gebied van ICT.</span>
					</div>
					
					<form>
						<fieldset class="home-form-1">
						
							<div class="col-md-10 col-sm-4 padd-0">
								<input type="text" class="form-control br-1" placeholder="Software Engineer, Amsterdam, Afstudeerstage" />
							</div>
								
								
							<div class="col-md-2 col-sm-2 padd-0 m-clear">
								<button type="submit" class="btn theme-btn cl-white seub-btn">Zoeken</button>
							</div>
								
						</fieldset>
					</form>
					
					<div class="row">
					
						<div class="col-md-4 col-sm-4">
							<div class="cmp-overview">
								<div class="cmp-icon">
									<i class="cmp-i icon-profile-male"></i>
									<i class="fa fa-check"></i>
								</div>
								<div class="cmp-detail">							
									<h3>{{ students_count }}</h3>
									<span>Actieve studenten</span>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<div class="cmp-overview">
								<div class="cmp-icon">
									<i class="cmp-i icon-desktop"></i>
									<i class="fa fa-check"></i>
								</div>
								<div class="cmp-detail">							
									<h3>{{ companies_count }}</h3>
									<span>Bedrijven</span>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<div class="cmp-overview">
								<div class="cmp-icon">
									<i class="cmp-i icon-global"></i>
									<i class="fa fa-check"></i>
								</div>
								<div class="cmp-detail">							
									<h3>{{ jobs_count }}</h3>
									<span>Vacatures</span>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- ======================= End Banner ===================== -->
		
		<!-- ====================== How It Work ================= -->
		<section class="how-it-works">
			<div class="container">
				
				<div class="row" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading">
							<h2>Nieuwe <span class="theme-cl">Bedrijven</span></h2>
							<span>Elke dag registreren zich nieuwe bedrijven bij ons. Blijf dus actief op onze website!<br>Want dat betekend dat we ook elke dag nieuwe vacatures krijgen</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					{% for c in companies %}
					<!-- Single opening -->
					<div class="col-md-3 col-sm-6" style="height:300px;margin-bottom:10px">
						<div class="employer-widget" style="height:100%">
							<div class="u-content">
								<div class="avatar box-80">
									<a href="employer-detail.html"><img class="img-responsive" src="http://via.placeholder.com/120x120" alt=""></a>
								</div>
								<h5><a href="{% url 'company_profile' c.id %}">{{ c.company_name }}</a></h5>
								<p class="text-muted">{{ c.city }}</p>
							</div>
							<div class="job-type-grid">
								<a href="{% url 'company_profile' c.user.id %}" class="employer-browse-btn btn-radius br-light">Bekijk Bedrijf</a>
							</div>
						</div>
					</div>
					{% endfor %}
					
				</div>
				
				<div class="col-md-12 mrg-top-40">
					<div class="text-center">
						<a href="{% url 'all_companies' %}" class="btn theme-btn btn-m">Bekijk alle bedrijven</a>
					</div>
				</div>
				
			</div>
		</section>
		
		<!-- ================= Category start =========================
		<section class="image-bg" style="background:url(http://via.placeholder.com/1920x900) no-repeat;" data-overlay="7">
			<div class="container">
			
				<div class="row" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading light">
							<h2>Browse By Category</h2>
							<p>Each month, more than 7 million Jobhunt turn to website in their search for work, making over<br>160,000 applications every day.</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="icon-bargraph" aria-hidden="true"></i>
									<i class="icon-bargraph abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Accounting & Finance</h4></a>
									<p>122 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="icon-tools-2" aria-hidden="true"></i>
									<i class="icon-tools-2 abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Automotive Jobs</h4></a>
									<p>155 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="ti-briefcase" aria-hidden="true"></i>
									<i class="ti-briefcase abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Business</h4></a>
									<p>300 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="ti-ruler-pencil" aria-hidden="true"></i>
									<i class="ti-ruler-pencil abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Education Training</h4></a>
									<p>80 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="ti-heart-broken" aria-hidden="true"></i>
									<i class="ti-heart-broken abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Healthcare</h4></a>
									<p>120 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="icon-wine" aria-hidden="true"></i>
									<i class="icon-wine abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Restaurant & Food</h4></a>
									<p>78 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="ti-world" aria-hidden="true"></i>
									<i class="ti-world abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4>Transportation</h4></a>
									<p>90 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="category-box" data-aos="fade-up">
							<div class="category-desc">
								<div class="category-icon">
									<i class="ti-desktop" aria-hidden="true"></i>
									<i class="ti-desktop abs-icon" aria-hidden="true"></i>
								</div>

								<div class="category-detail category-desc-text">
									<a href="browse-job.html" title=""><h4> Telecommunications</h4></a>
									<p>210 Jobs</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-12 mrg-top-40">
						<div class="text-center">
							<a href="#" class="btn theme-btn btn-m">Browse All Category</a>
						</div>
					</div>
					
				</div>
				
			</div>
		</section> -->
		

		<!-- ================= Job start ========================= -->
		<section class="image-bg" style="background:url('{% static 'jobportal/assets/img/backgroundsection.jpg' %}') no-repeat" data-overlay="7">
			<div class="container">
			
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
					<li class="nav-item active">
						<a class="nav-link" data-toggle="tab" href="#recent" role="tab">
						Nieuwste vacatures</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#featured" role="tab">
						Oudste vacatures</a>
					</li>
				</ul>
				
				<div class="tab-content">
					
					<!-- Recent Job -->
					<div class="tab-pane fade in show active" id="recent" role="tabpanel">
						<div class="row">
						
							<!-- Single Job -->
							{% for j in jobs %}
							<div class="col-md-6 col-sm-12" style="margin-bottom:10px">
								<!-- Single Verticle job -->
								<div class="job-verticle-list" style="height:100%">
									<div class="vertical-job-card">
										<div class="vertical-job-header">
											<div class="vrt-job-cmp-logo">
												<a href="job-detail.html"><img src="http://via.placeholder.com/120x120" class="img-responsive" alt="" /></a>
											</div>
											<h4 style="width:60%"><a href="job-detail.html">{{ j.title }}</a></h4>
											{% for j_jobfunction in j.jobfunctions.all %}
											<span class="com-tagline">{{ j_jobfunction.name }}</span>
											{% endfor %}

											{% for j_interntype in j.interntypes.all %}
											<span class="pull-right job-type full-type">{{ j_interntype.name }}</span>
											{% endfor %}
										</div>
										<div class="vertical-job-body">
											<div class="row">
												<div class="col-md-12 col-sm-12">
													<ul class="can-skils">
														<li><i class="ti-location-pin"></i>in {{ j.city }}</li>
														<li><i class="ti-credit-card"></i> &euro;{{ j.compensation }} stagevergoeding</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="job-bottom-tags flex-middle">
											<div class="job-tags">
												<div class="job-tags with-title">
													<strong style="margin-right:5px">geplaatst op</strong>{{ j.created_at|date:'d F Y' }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}							
						</div>
					</div>
					
					<!-- Featured Job -->
					<div class="tab-pane fade" id="featured" role="tabpanel">
						<div class="row">
						
							<!-- Single Job -->
							{% for j in jobs_olds %}
							<div class="col-md-6 col-sm-12" style="height:260px;margin-bottom:10px">
								<!-- Single Verticle job -->
								<div class="job-verticle-list" style="height:100%">
									<div class="vertical-job-card">
										<div class="vertical-job-header">
											<div class="vrt-job-cmp-logo">
												<a href="job-detail.html"><img src="http://via.placeholder.com/120x120" class="img-responsive" alt="" /></a>
											</div>
											<h4 style="width:60%"><a href="job-detail.html">{{ j.title }}</a></h4>
											{% for j_jobfunction in j.jobfunctions.all %}
											<span class="com-tagline">{{ j_jobfunction.name }}</span>
											{% endfor %}

											{% for j_interntype in j.interntypes.all %}
											<span class="pull-right job-type full-type">{{ j_interntype.name }}</span>
											{% endfor %}
										</div>
										<div class="vertical-job-body">
											<div class="row">
												<div class="col-md-12 col-sm-12">
													<ul class="can-skils">
														<li><i class="ti-location-pin"></i>in {{ j.city }}</li>
														<li><i class="ti-credit-card"></i> &euro;{{ j.compensation }} stagevergoeding</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="job-bottom-tags flex-middle">
											<div class="job-tags">
												<div class="job-tags with-title">
													<strong style="margin-right:5px">geplaatst op</strong>{{ j.created_at|date:'d F Y' }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}							
						</div>
					</div>
							
						</div>	
					</div>

				</div>
				
			</div>
		</section>
	{% endblock content %}