{% extends "jobportal/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
		{% block content %}
		
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title">
			<div class="container">
				<div class="page-caption">
					<h2>Studenten</h2>
					<p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Studenten</p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- ======================= Start All Employee ===================== -->
		<section>
			<div class="container">
				<div class="tab-content">
					<!--Panel 1-->
					<div class="tab-pane fade in show active" id="recent" role="tabpanel">
					
						<!-- Single Employee List -->
						{% for s in students %}
						<div class="col-md-4 col-sm-6">
							<div class="contact-box" style="border-top: 4px solid #1f86ef;">	

								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">{{ s.user.first_name }} {{ s.user.last_name }}</h4>
							
								</div>
								
								{% if s.user.email %}
								<div class="contact-action">
									<span>{{ s.user.email }}</span>
								</div>
								{% else %}

								{% endif %}
								
								<div class="contact-footer">
									<a href="{% url 'student_profile' s.user.id %}" class="left-br col-half" style="width:100%">
										<span class="con-profile"><i class="ti-eye"></i>Bekijk profiel</span>
									</a>
								</div>
								
							</div>
						</div>
						{% endfor %}
						
						<!-- <div class="col-md-12 col-sm-12 mrg-top-30">
							<div class="text-center">
								<button type="submit" class="btn btn-m theme-btn">Load More</button>
							</div>
						</div> -->
						
					</div>
					<!--/.Panel 1-->
					<!--Panel 2-->
					<div class="tab-pane fade" id="featured" role="tabpanel">
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<!-- Single Employee List -->
						<div class="col-md-4 col-sm-6">
							<div class="contact-box">
							
								<div class="flexbox mrg-l-10">
									<label class="toggler toggler-danger">
										<input type="checkbox" checked>
										<i class="fa fa-heart"></i>
									</label>
								</div>
							
								<div class="contact-img">
									<img src="http://via.placeholder.com/400x400" class="img-circle img-responsive" alt="">
								</div>
								
								<div class="contact-caption">
									<h4 class="font-16 font-midium">Larry C. Cramer</h4>
									<span>Catterline AB3 9TR</span>
								</div>
								
								<div class="contact-action">
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Facebook">
										<i class="facebook-cl fa fa-facebook" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Twitter">
										<i class="twitter-cl fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Google Plus">
										<i class="google-plus-cl fa fa-google-plus" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn-square-40" data-toggle="tooltip" title="Instagram">
										<i class="instagram-cl fa fa-instagram" aria-hidden="true"></i>
									</a>
								</div>
								
								<div class="contact-footer">
									<a href="#" class="col-half"><span class="con-message"><i class="ti-email"></i>Message</span></a>
									
									<a href="employer-detail.html" class="left-br col-half">
										<span class="con-profile"><i class="ti-eye"></i>Quick View</span>
									</a>
								</div>
								
							</div>
						</div>
						
						<div class="col-md-12 col-sm-12 mrg-top-30">
							<div class="text-center">
								<button type="submit" class="btn btn-m theme-btn">Load More</button>
							</div>
						</div>
							
					</div>
					<!--/.Panel 2-->
				</div>
				<!-- Tab panels -->
				
			</div>
		</section>
		
{% endblock content %}